spring:
  datasource:
    url: jdbc:mysql://${MYSQL_HOST:localhost}:3306/shopapp
    username: root
    password: 12345678
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect
        format_sql: true
server:
  port: 8003
  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 10MB
  jwt:
    expiration:259200
api:
  prefix: api/v1